body{
  background-color: #5D576B;
  color: #FCFCFC;
  font-family: sans-serif;
  text-align: center;
  border: 40px solid #99E1D9;
  border-top: 0px;
  margin: 0px;
}
h1{
  font-family: 'Lora', serif;
  text-transform: uppercase;
}
h2{
  font-family: 'Lora', serif;
}
p{
  /*this is making all the text have good margins*/
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;

}
form{
  margin-bottom: 10px;
}
#sub{
  background-color: #F7567C;
  height: 80px;
  width: 150px;
  margin: 4px;
  margin-top: 12px;
  font-size: 1.0em;
  border-radius: 25px;
}
