/*
This is a comment
*/

/*
General Form is:

Selected Tag {
  property: value;
}

*/

/*Colors can be names, or codes*/

/*MOST COMMON HEX CODES*/

h1{
  color: purple;
}
li{
  /*red, green ,blue*/
  color: rgb(8, 84, 1);
}
p{
  color: #42c8f4;
}
h4{
  /*red, green, blue, alpha(how dark or how transparent a color is 0 - transparent
  1 - opaque )*/
  color: rgba(255, 97, 0, 1);
}
